* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background:linear-gradient(90deg, #000000, #d4b755, #000000);
  color: #000000;
  scroll-behavior: smooth;
}


header {
  background: linear-gradient(90deg, #252522, #000000, #252522);
  padding: 35px 20px;
  text-align: center;
  color: #FFB700;
  font-size: 38px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  box-shadow: 0 5px 20px rgba(0,0,0,0.25);
  header {
    position: sticky;
    top: 0;
    z-index: 1000;
}

}

nav {
  margin-top: 15px;
}

nav a {
  color: #FFB700;
  margin: 0 15px;
  text-decoration: none;
  font-weight: 600;
  font-size: 16px;
  transition: 0.3s;
}

nav a:hover {
  color: #f6f3f1;
  border-bottom: 2px solid #fff;
}


h2 {
  text-align: center;
  margin: 50px 0 25px;
  font-size: 32px;
  color: #856046;
  font-weight: 700;
}

.subtitle {
  margin-top: 70px;
  margin-bottom: 15px;
}


.sobre-section {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
  text-align: center;
}

.lado-a-lado {
  display: flex;
  gap: 30px;
  align-items: center;
  padding: 20px;
  flex-wrap: wrap;
}

.lado-a-lado img {
  width: 350px;
  border-radius: 15px;
  box-shadow: 0 6px 18px rgba(0,0,0,0.15);
  border: 2px solid #d1b08a;
}

.lado-a-lado p {
  font-size: 18px;
  line-height: 1.7;
  max-width: 600px;
}


.gallery {
  max-width: 1300px;
  margin: auto;
  padding: 25px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 28px;
}

.gallery img {
  width: 100%;
  height: 380px;
  object-fit: cover;
  border-radius: 14px;
  border: 2px solid #d1b08a;
  box-shadow: 0 6px 18px rgba(0,0,0,0.18);
  transition: 0.4s ease;
}

.gallery img:hover {
  transform: scale(1.05);
  border-color: #a67c52;
  box-shadow: 0 12px 30px rgba(0,0,0,0.28);
}


.whats-btn {
  position: fixed;
  right: 25px;
  bottom: 25px;
  background: #25d366;
  padding: 15px 22px;
  color: #fff;
  border-radius: 50px;
  font-weight: 600;
  font-size: 17px;
  text-decoration: none;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  transition: 0.3s;
}

.whats-btn:hover {
  transform: scale(1.08);
  background: #1eb85b;
}


footer {
  background: #8b6a47;
  color: #fff;
  padding: 18px;
  text-align: center;
  font-size: 14px;
  margin-top: 60px;
  letter-spacing: 1px;
}


.banner-container {
    width: 100%;
    overflow: hidden;
    background: #111;
    padding: 15px 0;
    border-top: 3px solid #FFD700;
    border-bottom: 3px solid #FFD700;
}

.banner {
    display: inline-block;
    white-space: nowrap;
    font-size: 28px;
    color: #FFD700;
    letter-spacing: 2px;
    text-transform: uppercase;
    animation: slide 12s linear infinite;
}


.banner-container:hover .banner {
    animation-play-state: paused;
}


@keyframes slide {
    0% {
        transform: translateX(100%)
    }
    100% {
        transform: translateX(-100%);
    }
}

.top-btn {
    position: fixed;
    bottom: 90px;
    right: 25px;
    background: #FFD700;
    padding: 12px 15px;
    border-radius: 50%;
    font-size: 22px;
    font-weight: bold;
    text-decoration: none;
    color: #000;
    box-shadow: 0 4px 10px rgba(0,0,0,0.4);
    transition: 0.3s;
    z-index: 999;
}

.top-btn:hover {
    transform: scale(1.15);
    background: #ffea6e;
}

 






 


    
